#rekomend{
    background-image: url('/static/default_image.jpg');
    background-size: 800px cover;
    background-position: top;
    color: white;
    padding-top: 300px;
    padding-bottom: 20px;
    margin-top: 90px;
}

.card{
    margin: 20px auto 0px auto;
}

.search-box{
    width: 70%;
    margin-top: 30px;
    max-width: 700px;
    position: center;
    

}

#search-bar{
    background-color: aqua;
    padding: 50px auto 30px;
    margin-top: 30px;
}

.navbar{
    background-color: rgb(156, 142, 173);
    margin-bottom: 70px;
}

.card-detail{
    margin-top: 90px;
    height: 800px;
    width: 900px;
}

#TgdProfile{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.btn{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    width: 100%;
}

.btn :hover{
    border-color: blue;
}



table{ 
    margin-top: 50px;
} 


