<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discover || Admin</title>

    <!-- link bulma -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <!-- link bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!-- Jquery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>

    <!-- link Css -->
    <link rel="stylesheet" href="/static/style.css" />

    <script>
          function listing() {
      $.ajax({
        type: 'GET',
        url: '/get_data',
        data: {},
        success: function (response) {
          let articles = response["articles"];
          for (let i = 0; i < articles.length; i++) {
            let id = articles[i]["ID"];
            let image = articles[i]["image"];
            let kategori = articles[i]["category"];
            let file = articles[i]['file'];

            let time= articles[i]['time'] || '????.??.?';

            let profile = articles[i]['profile'];
            let temp_html = `
        <div class="col-4">
          <div class="card">
            <img src="../${file} " class="card-img-top" alt="..." />
            <div class="card-body">
              <img src="../${profile} " class="card-img-top" alt="..." id = "profile"/>
              <h5 class="card-title">${title}</h5>
              <p class="card-text">${content}</p>
              <h6 class="card-subtitle mb-2 text-muted">${time}</h6>
            </div>
          </div>
        </div>
                `;
            $("#cards-box").append(temp_html);
          }
        }
      });
    }

    </script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <img
          src="{{url_for('static', filename = 'oracle_logo.png')}}"
          width="112"
          height="28"
        />
        <a class="navbar-brand" href="/about">Oracle</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end text-bg-dark"
          tabindex="-1"
          id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
              Traveluki
            </h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/discoveradm"
                  >Discover</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cekpesanan">Cek Pesanan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">Tentang</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="title" style="margin-top: 90px">
      <h1><center>Data Destinasi</center></h1>
      <hr />
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Gambar</th>
          <th scope="col">Nama Tempat</th>
          <th scope="col">Kategori</th>
          <th scope="col">Deskripsi</th>
          <th scope="col">Tourguide</th>
          <th scope="col">Edit</th>
          <th scope="col">Hapus ww</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">img</th>
          <th scope="row">Bali</th>
          <td>Asia</td>
          <td>lorem .... <a href="/detailadm">lainnya</a></td>
          <td>Tourguide 1</td>
          <td>
            <button class="button is-link">
              <a
                href="/edit-detail"
                style="color: white; text-decoration-line: none"
                >Edit</a
              >
            </button>
          </td>
          <td><button class="button is-danger">Hapus</button></td>
        </tr>
        <tr>
          <th scope="row">img</th>
          <th scope="row">Bali</th>
          <td>Asia</td>
          <td>lorem .... <a href="/detailadm">lainnya</a></td>
          <td>Tourguide 1</td>
          <td>
            <button class="button is-link">
              <a
                href="/edit-detail"
                style="color: white; text-decoration-line: none"
                >Edit</a
              >
            </button>
          </td>
          <td><button class="button is-danger">Hapus</button></td>
        </tr>
      </tbody>
    </table>

    <button class="button is-link" style="margin-top: 20px;"><a href="/adddestination" style="color: black; text-decoration: none;">Tambah Destinasi</a></button>
  </body>
  <footer style="margin-top: 20px;">
    <p>ORACLE</p>
    <nav>
      <a href="/">Home</a> | <a href="layanan.html">Layanan</a> |
      <a href="/about">tentang kami</a>
    </nav>
  </footer>
</html>
